.res-card {
padding: 5px;
    height:400px ;
    width: 200px;
   
    background-color:burlywood;
}
.res-logo
{
    width: 100%;
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid blue;
    
}